<table>
    <tr>
      <td>Name</td>
      <td>Rank</td>
      <td>Tution Fee</td>
      <td>Enrollmonts</td>
      </tr>
  <% @universities.each do |university| %>
    <tr>
      <td><%= university['name'] %></td>
      <td><%= university['rank'] %></td>
      <td><%= university['tution_fee'] %></td>
      <td><%= university['enrollemnts'] %></td>
      </tr>
  <% end %>
</table>
<% for page in 0..@number_of_pages do %>
  <%= link_to page + 1,  home_url(:page_no => page)%>
<% end %>
